.App {
  text-align: center;
}

.Chatbox{
  background-color: white;
   align-items: center;
   width: 50%;
   height: 840px;
   margin:auto;
   border: 1px solid #d8d8d8;
   border-radius: 15px;
}

.chatbox__list{
     border: 1px solid #d8d8d8;
     width: 35%;
     height: 99.8%;
}


.chatbox__topheading{
  text-align: left;
    margin: 11px;
    font-size: 15px;
}

.chatbox__searchbar{
  width: 15rem;
  height: 30px;
  background-color: #eef3f8;
  border: none;
  border-radius: 5px;
}

.chatbox_usercard{
  border-bottom: 1px solid #d8d8d8;
  height: 70px;
  margin-top: 10px;
}